# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# React component files

assets/
src/Radio_DropDown.jsx
src/CheckBoxes.jsx
src/ReuseComponent.jsx
src/RadioComponent.jsx
src/User.jsx
src/Student.jsx
src/College.jsx
src/Counter.jsx
src/LifeCycle.jsx